body {
	background-color: #d8fdca;
	margin-left: 30px;
	margin-right: 30px;
}	

h1,h2,h3 {
	color: #38ab0a;
	font-family: cursive;
}
a {
	color: #38ab0a;	
}
h2 {
	color: #38ab0a;
}

footer {
	padding-top: 30px;
	font-style: italic;
	font-size: 12px;
}
